.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 990;
}

.modal {
  position: relative;
  width: max-content;
  height: max-content;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #1f1f1f;
  z-index: 1000;
  padding: 20px;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    background-color: #1f1f1f;
    transition: all .1s linear;

    &:hover {
      background-color: #242424;
    }
  }
}
